@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.menu__list {
  display: none;
}

.header {
  margin-bottom: 137px;
}

.header_inner {
  height: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__search-btn,
.header__menu_btn {
  button {
    background-color: transparent;
    border: none;
  }
}

.header__content-inner {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header__content-info {
  max-width: 475px;
  width: 100%;
  margin: 68px 50px 0 77px;

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    padding-bottom: 30px;
  }

  &__descr {
    font-size: 18px;
    line-height: 28px;
    opacity: .7;
    padding-bottom: 50px;
  }

  &__btn {
    a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      background-color: #4737FF;
      font-size: 14px;
      line-height: 24px;
      padding: 14px 30px;
    }
  }
}

.header__content-slide {
  max-width: 665px;
  img {
    max-width: 100%;
  }
}

.menu__list {
  position: absolute;
  top: 100px;
  max-width: 200px;
  width: 100%;
  z-index: 1;
  text-align: center;
  right: 0;

  ul {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 0;

    li {
      margin: 30px 0;

      a {
        cursor: pointer;
        width: 100%;
        font-size: 20px;
      }
    }
  }
}

.search_bar {
  display: none;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 100%;
  z-index: 1;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  border-radius: 4px;

  input {
    height: 40px;
    width: 100%;
    border: 2px solid rgba(#222, .3);
    border-radius: 4px;
    padding: 0 10px;
  }
}

.header__content-video {
  max-width: 400px;
  position: absolute;
  left: 60%;
  top: 364px;
  transform: translateX(-60%);
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  max-height: 310px;

  &::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 65px;
    height: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/play_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  img {
    max-width: 100%;
  }
}

.about {
  margin-bottom: 142px;
}

.about__inner {
  display: flex;
}

.about__info {
  padding-left: 75px;
  padding-top: 37px;
  max-width: 540px;

  &-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 30px;
  }

  &-text {
    opacity: .7;
  }
}

.about__info-author {
  display: flex;
  align-items: center;
  padding-top: 61px;
}

.about__info-author {
  overflow: hidden;

  img {
    border-radius: 50%;
  }
}

.about__info-author__info {
  padding-left: 31px;

  span {
    display: block;
  }
}

.about__img {
  max-width: 475px;

  img {
    max-width: 100%;
  }
}

.services {
  margin-bottom: 181px;
}

.services__inner {
  padding-left: 125px;
}

.services__top-info {
  display: flex;
}

.services__text {
  max-width: 539px;
  width: 100%;
}

.services__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  opacity: .7;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.services__list {
  ul {
    columns: 2;
    padding-left: 100px;

    li {
      padding-left: 60px;
      margin-bottom: 21px;
      opacity: .5;
    }
  }
}

.services__slider {
  position: relative;
  padding-top: 99px;

  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-slide {
    margin: 0 15px;
    opacity: .5;
    transition: all .3s;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    border: none;
    background-color: #C4C4C4;
    width: 50px;
    height: 50px;
  }

  .slick-prev {
    bottom: -100px;
    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .slick-next {
    left: 80px;
    bottom: -100px;
    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider__item-content {
  position: relative;

  &:hover {
    .play__button {
      top: 50%;
    }
  }

  .play__button {
    position: absolute;
    background-color: #fff;
    width: 65px;
    height: 65px;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/play_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
  }
}

.info {
  padding: 100px 0 200px 0;
}

.info__inner {
  display: flex;
  position: relative;
}

.info__img-top {
  position: absolute;
  right: 50%;
  top: 30%;
}

.info__img-behind {
  max-width: 570px;

  img{
    max-width: 100%;
  }
}

.info__text {
  margin-left: 190px;
  max-width: 475px;
  width: 100%;
  margin-top: 38px;
}

.info__text-descr {
  padding: 30px 0 62px;
  opacity: .7;
}

.info__text-result {
  margin-bottom: 30px;
}

.info__text-design__img,
.info__text-result__img {
  width: 54px;
  height: 54px;
  background-color: #cecece;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}

.info__text-result,
.info__text-design {
  display: flex;
  align-items: center;
}

.info__text-result__text,
.info__text-design__text {
  padding-left: 29px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  letter-spacing: 4px;
}

.works {
  margin: 202px 0 250px 0;
}

.works__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 108px;
}

.works__top-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  opacity: .7;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

.works__top-btn {
  button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: .3;

    &.mixitup-control-active {
      opacity: 1;
      color: #1434E1;
    }
  }
}

.works__items {
  display: flex;
  justify-content: flex-start;
  flex-basis: calc(33.3333% - 30px);
  margin-left: -30px;
  flex-wrap: wrap;
}


.works__item {
  margin-left: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  max-height: 450px;
  position: relative;


  &:hover {
    box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
    transform: translateY(-20px);
    transition: all .3s;

    .play__button {
      top: 50%;
    }
  }
}

.play__button {
  position: absolute;
  background-color: #fff;
  width: 65px;
  height: 65px;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../img/play_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s;
}

.works__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &-text {
    max-width: 730px;
    opacity: .7;
  }

  &-btn {
    a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      background-color: #4737FF;
      font-size: 14px;
      line-height: 24px;
      padding: 14px 30px;
    }
  }
}

.testimonials {
  margin-bottom: 176px;
}

.testimonials__inner {
  position: relative;
}

.testimonials__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  opacity: .7;
  text-transform: uppercase;
  position: absolute;
}

.testimonials__slider-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials__slider-img {
  max-width: 445px;

  img {
    max-width: 100%;
  }
}
.testimonials__slider-info {
  max-width: 540px;
  width: 100%;
}

.testimonials__slider-title {
  margin-bottom: 121px;
}

.testimonials__slider-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 13px;
}

.testimonials__slider-position {
  opacity: .7;
}

.testimonials__slider {
  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    border: none;
    background-color: #C4C4C4;
    width: 50px;
    height: 50px;
  }

  .slick-prev {
    bottom: 0;
    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .slick-next {
    left: 80px;
    bottom: 0;
    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.clients {
  background-color: #fafafa;
  padding: 102px 0 141px 0;
}

.clients__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}

.clients__top-about {
  max-width: 445px;
}

.clients__top-about__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 17px;
}

.clients__top-about__text {
  opacity: .7;
}

.clients__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__logos-img {
  opacity: 0.15;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }
}

.footer {
  background-color: #515151;
  padding: 70px 0 35px 0;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(#fff, .2);
  padding-bottom: 42px;
}

.footer__top-menu {
  ul {
    li {
      display: inline-block;

      & + li {
        padding-left: 59px;
      }

      a {
        color: #fff;
      }
    }
  }
}

.footer__top-subscribe {
  form {
    display: flex;
    align-items: center;
    input {
      height: 40px;
      width: 170px;
      padding: 0 20px;
      background-color: #F5F4FF;
      border: none;

      &::placeholder {
        opacity: .5;
      }
    }

    button {
      border: none;
      background-color: #C6B393;
      height: 40px;
      padding: 0 25px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #fff;
      margin-left: 15px;
      text-align: center;
    }
  }
}

.footer__bottom {
  padding-top: 37px;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-menu {
  ul {
    li {
      display: inline-block;

      & + li {
        padding-left: 43px;
      }

      a {
        color: #fff;
        opacity: .4;
      }
    }
  }
}

.footer__bottom-social {
  a {
    & + a {
      padding-left: 15px;
    }
    img {
      opacity: .4;
    }
  }
}
@import 'media';